<div class="col-12">
  <mat-card>
    <div class="row">
      <div class="col-6">
        servidor? <br>
        <mat-form-field>
          <mat-label>Seleccione una opcion</mat-label>
          <mat-select [(value)]="modoIngresoSelect" [(ngModel)]="modoIngresoSelect">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let modo of modoIngreso" value="{{ modo }}"> {{ modo }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        sistema operativo usado para el trace route <br>
        <mat-form-field>
          <mat-label>Seleccione una opcion</mat-label>
          <mat-select [(value)]="OS_select" [(ngModel)]="OS_select">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sistema of OS" value="{{ sistema }}"> {{ sistema }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="modoIngresoSelect === 'texto plano'" class="row m-2">
      <div class="col-12">
        <div *ngIf="OS_select === undefined" class="alert alert-danger" role="alert">
            Escoja un sistema operativo
          </div>
        <p *ngIf="OS_select === 'Windows'">
          Copie y pegue el resultado de la ruta usando la consola de windows con el comnando <small>tracert</small>
        </p> <br>
        <p *ngIf="OS_select === 'Linux'">
          Copie y pegue el resultado de la ruta usando la terminal de Linux con el comnando <small>traceroute</small>
        </p> <br>

        <mat-form-field class="col-12" *ngIf="OS_select !== undefined">
          <textarea matInput cdkTextareaAutosize placeholder="Leave a comment" [(ngModel)]="texto_plano"></textarea>
        </mat-form-field>
        <br>
        <button type="button" class="btn btn-primary" (click)="obtenerTraza()">Obtener trazado</button><br>
      </div>

    </div>

    <div *ngIf="modoIngresoSelect === 'archivo de texto'" class="row m-2">
      <div class="col-12">
          <div *ngIf="OS_select === undefined" class="alert alert-danger" role="alert">
              Escoja un sistema operativo
            </div>
          <p *ngIf="OS_select === 'Windows'">
            cargue el archivo <small> .txt</small> con la traza de la ruta generada por el comando: <small>tracert</small>
          </p> <br>
          <p *ngIf="OS_select === 'Linux'">
            cargue el archivo <small> .txt</small> con la traza de la ruta generada por el comando:  <small>traceroute</small>
          </p> <br>

          <div class="col-12" *ngIf="OS_select !== undefined">
              <input placeholder="Favorite food" type='file' name='userFile' id='file' (change)="onFileSelect($event.target)">
          </div>
      </div>

    </div>
  </mat-card> <br>

  <mat-card *ngIf="carga">
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Salto</th>
                <th scope="col">IP</th>
                <th scope="col">Nombre red</th>
                <th scope="col">Organizacion</th>
                <th scope="col">ISP</th>
                <th scope="col">Continente</th>
                <th scope="col">Pais</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Tiempo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemTraza of JsonTraza">
                <td> {{ itemTraza['salto'] }} </td>
                <td> {{ itemTraza['ip'] }} </td>
                <td> {{ itemTraza['nombre'] }} </td>
                <td> {{ itemTraza['organizacion'] }} </td>
                <td> {{ itemTraza['isp'] }} </td>
                <td> {{ itemTraza['continente'] }} </td>
                <td> {{ itemTraza['pais'] }} </td>
                <td> {{ itemTraza['ciudad'] }} </td>
                <td> {{ itemTraza['ms'] }} ms</td>
              </tr>
            </tbody>
          </table>
    </div> <br>

    <div *ngIf="mapa">
        <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
      [disableDefaultUI]="false">
          <agm-marker
         *ngFor="let make of markers"
         [latitude]="make.lat"
          [longitude]="make.lng"
          [label]="make.label"
          [markerDraggable]="make.draggable" >
        </agm-marker>
        <agm-polyline *ngFor="let poli of polilinea">
            <agm-polyline-point [latitude]="poli.latIni" [longitude]="poli.lngIni">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="poli.latFin" [longitude]="poli.lngFin">
            </agm-polyline-point>
        </agm-polyline>
        </agm-map>
    </div>
    
  </mat-card> <br> <br>

  <mat-card *ngIf="mostrarChart">
        <div>
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType"
              ></canvas>
          </div>
          <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
        </div>
    
  </mat-card> <br>


</div>