<div>
    <mat-card>
        <h3>ingrese un <span class="badge badge-secondary">nuevo nodo</span></h3>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre del Nodo" value="" type="text" [(ngModel)]="nombreNodo">
        </mat-form-field> <br>
        <button type="button" class="btn btn-primary" (click)="crearNodo()">Crear Nodo</button><br>
        <mat-form-field class="m-2">
            <mat-label>Nodo Inicio</mat-label>
            <mat-select [(value)]="nodoInicio" [(ngModel)]="nodoInicio">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let nodo of nodes" value="{{nodo['id']}}">{{nodo['id']}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="m-2">
            <mat-label>Nodo Destino</mat-label>
            <mat-select [(value)]="nodoDestino" [(ngModel)]="nodoDestino">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let nodo of nodes" value="{{nodo['id']}}">{{nodo['id']}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="m-2">
            <input matInput placeholder="Peso del Nodo" value="" type="number" min="0" [(ngModel)]="pesoNodo">
        </mat-form-field> <br>
        <button type="button" class="btn btn-primary" (click)="crearUnion()">Crear Union</button><br>
    </mat-card>
</div>
<br>
<!-- grafico -->
<div>
    <mat-card>
        <h3>Diagrama <span class="badge badge-secondary">nodos</span></h3>
        <div class="page">
            <ngx-graph [links]="links" [nodes]="nodes" [layout]="layout" [curve]="curve" [draggingEnabled]="draggingEnabled" [panningEnabled]="panningEnabled" [enableZoom]="zoomEnabled" [zoomSpeed]="zoomSpeed" [minZoomLevel]="minZoomLevel" [maxZoomLevel]="maxZoomLevel"
                [panOnZoom]="panOnZoom" [autoZoom]="autoZoom" [autoCenter]="autoCenter">

                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                </ng-template>

                <ng-template #clusterTemplate let-cluster>
                    <svg:g class="node cluster">
                        <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color" />
                    </svg:g>
                </ng-template>

                <ng-template #nodeTemplate let-node>
                    <svg:g class="node">
                        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate let-link>
                    <svg:g class="edge">
                        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                        </svg:path>
                        <svg:text class="edge-label" text-anchor="middle">
                            <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                {{link.label}}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div> <br>
        <mat-form-field class="m-2">
            <mat-label>Inicio de Ruta</mat-label>
            <mat-select [(value)]="nodoInicio" [(ngModel)]="RutaInicio">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let nodo of nodes" value="{{nodo['id']}}">{{nodo['id']}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="m-2">
            <mat-label>Final Ruta</mat-label>
            <mat-select [(value)]="nodoDestino" [(ngModel)]="RutaFinal">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let nodo of nodes" value="{{nodo['id']}}">{{nodo['id']}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="button" class="btn btn-primary" (click)="BuscarRuta()">Buscar ruta</button><br>
    </mat-card>
</div>