<!-- Footer -->
<footer class="footer page-footer font-small pt-4 bg-dark fg-li">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left text-white-50">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5 text-center">
          <div class="mb-5 flex-center text-center">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/SR.BOTOM">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- gitlab -->
            <a class="" href="https://gitlab.com/SrBotom">
                <mdb-icon fab icon="gitlab" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Github +-->
            <a class="" href="https://github.com/BOTOOM">
                <mdb-icon fab fab icon="github" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/edwar-diaz/">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/sr.botom">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://github.com/BOTOOM"> Edwar Diaz Ruiz</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
