<div>
  <mat-card>
<h2>Ingrese la cantidad de puntos<span class="badge badge-secondary"></span></h2>

<mat-form-field appearance="outline" style="width: 15%;" >
  <mat-label> Max: 10 </mat-label>
  <input matInput placeholder="" type="number" min="1" max="10" [(ngModel)]="cantidad">
</mat-form-field> <br>
<button type="button" class="btn btn-primary" (click)="crearCampos()">Crear Campos</button>
<!-- punts restrinciones -->
<br>
<div *ngIf="cant">
<h2>Puntos de <span class="badge badge-secondary">Restricciones</span></h2>
<br>
<div class="alert alert-danger" role="alert">
  Los puntos deben ser ingresados en orden de izquierda a derecha
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">X</th>
            <th scope="col">Y</th>
          </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restriccion of restriciones let i = index">
        <td *ngFor="let res of restriccion let j = index"> 
          <mat-form-field appearance="outline" style="width: 20%;" >
              <mat-label> {{res}} </mat-label>
              <input matInput placeholder="" type="number" min="0" [(ngModel)]="restriciones[i][j]">
            </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table> <br>
  <button type="button" class="btn btn-primary" (click)="crearValores()">Graficar</button>
</div>
<!-- fin punts restrinciones-->
</mat-card>
</div>
<br>

<div *ngIf="plot">
  <mat-card>
    <div style="display: block;">
      <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions" [chartType]="scatterChartType">
      </canvas>
    </div>
  </mat-card>
</div>
<br>
<div *ngIf="res">
    <mat-card>
        <h2>Posibles <span class="badge badge-secondary">Restricciones</span></h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let posible of posiblesRes">
              <div *ngIf="posible[2] > 0">
                <div *ngIf="posible[3] === -1">
                    - <Sup> 1 </Sup> / <sub> {{posible[0]}} </sub>*X + <Sup> 1 </Sup> / <sub> {{posible[1]}} </sub>*Y &lt; = {{posible[2]}}
                </div>
                <div *ngIf="posible[3] === 1">
                    <Sup> 1 </Sup> / <sub> {{posible[0]}} </sub>*X - <Sup> 1 </Sup> / <sub> {{posible[1]}} </sub>*Y &lt; = {{posible[2]}}
                </div>
              </div>
            </li>
          </ul>
      </mat-card>
</div>